// Colors
$white: #FFF;
$black: #000;
$meet-artist: #464545;
$background: #2E2D2D;
$white-background: #ffffffe6;
$background-black: rgba(0, 0, 0, 0.80);
$background-grey: rgba(217, 217, 217, 0.50);
$background-fill: #E5E5E5;
$circle-hover-grey: #9b9794;

// Fonts
$font-raleway: "Raleway" , sans-serif;
$font-abhaya: "Abhaya Libre" , serif;

// Si se repite alguna variable añadir aqui