// Colors
$white: #FFF;
$black: #000;
$meet-artits: #464545;
$background: #2E2D2D;

// Fonts
$font-raleway: "Raleway" , sans-serif;
$font-abhaya: "Abhaya Libre" , serif;

// Si se repite alguna variable añadir aqui