.container{
  position: absolute;
  width: 40rem;
  top: 100%;
  right: 0%;
  background-color: $black;
  height: 100%; /* Set a specific height for the scrollable container */
  overflow-y: scroll;
  overflow-x: hidden;
  

  @include responsive ("mdMb") {
    width: 35rem;
  }

  @include responsive ("mdMb") {
    padding-left: 2rem;
  }

  .box {
    padding-left: 1rem;
    padding-top: 1rem;
    position: absolute;
    width: 100%;
    li {
      cursor: pointer;
      color: $white;
      list-style-type: none;
      font-size: 3rem;
      font-style: normal;
      padding: 2rem;
    }
    .navButton {
      //position: fixed;
      border: none;
      cursor: pointer;
      transform: scaleX(-1) translateY(-30%);
      background-color: transparent;
      color: $white;
      font-size: 7rem;
    }
  }
}


/*ABRIR MENU*/

.searchMenuHidden {
  border: solid goldenrod;
  border-width: 0px 0px 0px 0px;
  max-height: 0rem;
  transition: all 500ms ease;

}

.searchMenuShow {
  border: solid white;
  border-width: 0px 0px 1px 1px;
  max-height: 70rem;
  transition: all 500ms ease;
}

/*1 . TRANSICIÓN LATERAL*/
.transitionEnter {
  transform: translateX(-110%);
}

.transitionEnterActive {
  transform: translateX(0%);
  transition: all 500ms;
}


.transitionExit {
  transform: translateX(0%);
}

.transitionExitActive {
  transform: translateX(-110%);
  transition: all 500ms;
}



/*2 . TRANSICIÓN LATERAL*/

.submenuTransitionEnter {
  transform: translateX(110%);
}

.subMenuTransitionEnterActive {
  transform: translateX(0%);
  transition: all 500ms;
}


.subMenuTransitionExit {
  transform: translateX(0%);
}

.subMenuTransitionExitActive {
  transform: translateX(110%);
  transition: all 500ms ;
}


