.container{
  position: absolute;
  width: 40rem;
  top: 100%;
  right: 0%;
  background-color: $black;
  height: 100%; /* Set a specific height for the scrollable container */
  overflow-y: scroll;
  overflow-x: hidden;
  
  @include scrollbars(.5em, slategray);
  
  @include responsive ("mdMb") {
    width: 35rem;
  }
  @include responsive ("mdMb") {
    padding-left: 2rem;
  }
  .box {
    position: absolute;
    padding: 2rem;
    width: 100%;
    li {
      cursor: pointer;
      color: $white;
      list-style-type: none;
      font-size: 3rem;
      font-style: normal;
      padding: 2rem;
    }
  }
}



/*ABRIR MENU*/

.searchMenuHidden {
  border: solid white;
  border-bottom-left-radius: 1rem;
  border-width: 0rem 0rem 0rem 0.2rem;
  max-height: 0rem;
  transition: all 500ms ease;

}

.searchMenuShow {
  border: solid goldenrod;
  border-bottom-left-radius: 1rem;
  border-width: 0rem 0rem 0.2rem 0.2rem;
  max-height: 75vh;
  transition: all 500ms ease;
  
}

/*1 . TRANSICIÓN LATERAL*/
.transitionEnter {
  transform: translateX(-110%);
}

.transitionEnterActive {
  transform: translateX(0%);
  transition: all 500ms;
}


.transitionExit {
  transform: translateX(0%);
}

.transitionExitActive {
  transform: translateX(-110%);
  transition: all 500ms;
}



/*2 . TRANSICIÓN LATERAL*/

.submenuTransitionEnter {
  transform: translateX(110%);
}

.subMenuTransitionEnterActive {
  transform: translateX(0%);
  transition: all 500ms;
}


.subMenuTransitionExit {
  transform: translateX(0%);
}

.subMenuTransitionExitActive {
  transform: translateX(110%);
  transition: all 500ms ;
}




