.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.closeButton {
  width: 4.3rem;
  height: 4.3rem;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border: none;
  right: 1.8rem;
  top: 1.5rem;

  @include responsive("xlMb") {
    width: 2.5rem;
    height: 2.5rem;
  }

  @include responsive("xlMb") {
    width: 2.2rem;
    height: 2.2rem;
  }
}

.closeButton::before,
.closeButton::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $white;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.closeButton::before {
  transform: rotate(45deg);
}

.closeButton::after {
  transform: rotate(-45deg);
}

.image {
  object-fit: contain;
  width: 70%;
  height: 90vh;

  @include responsive("xlMb") {
    margin-top: 0;
    padding: 1.5rem;
    max-height: 45rem;
    width: 40rem;
  }
}
