@import "src/assets/scss/abstracts/_variables";

.main {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-raleway;
  overflow: auto;
}

.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/Wooko.png");
  background-size: cover;
}

.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleBox {
  position: relative;
  width: 94.8rem;
  height: 16.6rem;
  border: 3px solid;
  border-color: $white;
  margin-top: 3.4rem;
  margin-bottom: 6.8rem;
  background-color: $black;

  @include responsive("md") {
    width: 70rem;
    height: 12rem;
  }

  @include responsive("sm") {
    width: 57rem;
    height: 10rem;
  }

  @include responsive("xs") {
    width: 41rem;
    height: 8rem;
  }

  @include responsive("xlMb") {
    border: none;
    margin-bottom: 0rem;
    margin-top: 0rem;
    width: 100%;
    height: 10rem;
    background-color: $white-background;
    color: $black;
    padding-top: 1rem;
  }
}

.titleText {
  color: $white;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 0.525rem;
  text-align: center;
  line-height: 16.6rem;

  @include responsive("md") {
    font-size: 4rem;
    line-height: 12rem;
  }

  @include responsive("sm") {
    font-size: 3.8rem;
    line-height: 10rem;
  }

  @include responsive("xs") {
    font-size: 3.4rem;
    line-height: 8rem;
  }

  @include responsive("xlMb") {
    color: $black;
  }
}

.box {
  position: relative;
  width: 94.8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 9.4rem;
  margin-bottom: 15rem;
  background-color: $white-background;

  @include responsive("md") {
    width: 70rem;
    padding: 3.4rem;

    p {
      font-size: 2.2rem;
    }
  }

  @include responsive("sm") {
    width: 57rem;
    padding: 2.8rem;

    p {
      font-size: 2rem;
    }
  }

  @include responsive("xs") {
    width: 41rem;
    padding: 2.3rem;

    p {
      font-size: 1.6rem;
    }
  }

  @include responsive("xlMb") {
    width: 100%;
    margin-bottom: 0rem;
    padding: 0;
  }

  @include responsive("mdMb") {
    p {
      font-size: 1.5rem;
    }
  }

  @include responsive("smMb") {
    p {
      font-size: 1.4rem;
    }
  }
}

.exposition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 12rem;
  max-width: 100%;
  font-size: 2.96rem;
  letter-spacing: -0.044rem;
  line-height: 3rem;
  width: 82.9rem;
  color: $black;
  text-decoration: none;

  @include responsive("md") {
    font-size: 2.5rem;
  }

  @include responsive("sm") {
    font-size: 2rem;
  }

  @include responsive("xs") {
    font-size: 1.5rem;
  }

  @include responsive("xlMb") {
    &.black {
      padding-left: 2rem;
      padding-right: 1rem;
      background-color: $background-black;
      color: $white;
      font-size: 1.6rem;
      line-height: 2rem;
    }

    &.white {
      padding-left: 2rem;
      padding-right: 1rem;
      background-color: transparent;
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }

  @include responsive("mdMb") {
    &.black {
      font-size: 1.4rem;
      padding-right: 2rem;
    }

    &.white {
      font-size: 1.4rem;
      padding-right: 2rem;
    }
  }

  @include responsive("smMb") {
    &.black {
      font-size: 1.3rem;
      padding-right: 2rem;
    }

    &.white {
      font-size: 1.3rem;
      padding-right: 2rem;
    }
}
}

.exposition .textWrapper {
  font-weight: 700;

  @include responsive("md") {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
}

.exposition .textWrapper:hover {
  text-decoration: underline;
}
