@import "src/assets/scss/abstracts/_variables";

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-raleway;
  overflow: auto;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/Wooko.png");
  background-size: cover;
  background-position: center;
}

.titleBox {
  position: relative;
  width: 94.8rem;
  height: 16.6rem;
  border: 3px solid;
  border-color: #ffffff;
  margin-top: 3.4rem;
  margin-bottom: 6.8rem;
  background-color: #000000;
}

.titleText {
  color: #ffffff;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 0.525rem;
  text-align: center;
  line-height: 16.6rem;
}

.box {
  position: relative;
  width: 94.8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 9.4rem;
  padding-left: 7.3rem;
  padding-right: 9.4rem;
  margin-bottom: 15.4rem;
  background-color: #ffffffe6;
}

.exposition {
  position: relative;
  height: 8.7rem;
  margin-bottom: 5.1rem;
  max-width: 100%;
  font-size: 29.6px;
  letter-spacing: -0.44px;
  line-height: 3rem;
  width: 82.9rem;
  color: #000000;
  text-decoration: none;
}

.exposition .textWrapper {
  font-weight: 700;
}
