.main {
  min-height: 100vh;
  font-family: $font-raleway;
  overflow: hidden;
  padding-bottom: 11.04rem;
  background-color: #000000;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.04rem; /* Add a gap between images */
}

.image {
  position: relative;
  //width: 62.4rem;
  //height: 58.1rem;
  width: 50.4rem;
  height: 44.1rem;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

.text {
  position: absolute;
  font-size: 5rem;
  letter-spacing: -0.075rem;
  color: #fff;
  opacity: 0; /* Initially hidden */
  width: 32.0059rem;
  height: 11.1909rem;
}

.image:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}
.image:hover .text {
  transition: transform 0.3s ease;
  opacity: 1; /* Show on hover */
  background-color: rgba(0, 0, 0, 0.7);

}

