.container {
  color: $white;
  list-style-type: none;
  font-size: 3rem;
  font-style: normal;
  padding: 2rem;

  .head {
    position: sticky;
    top: 0;
    background-color: $black;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    border-bottom: 0.1rem solid $white;
    .subHead {
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-items: start;
      .title {
        text-decoration: overline;
        color: $gold;
      }
    }
    .backButton {
      margin-top: -2.8rem;
      border: none;
      cursor: pointer;
      transform: scaleX(-1);
      background-color: transparent;
      color: $white;
      font-size: 7rem;
    }
    .input {
      height: 5.7rem;
      width: 100%;
      padding: 0.5rem 1rem;
      font-size: 2.5rem;
      font-weight: 400;
      //text-align: center;
      // background-color: $background-grey;
      background: transparent;
      border: 1px solid $white;
      font-family: $font-raleway;
      color: $white;
      // border: none;
      border-radius: 1rem;
    }

    &::placeholder {
      color: $white;
    }

    &:focus::placeholder {
      color: #ccc;
    }
  }

  .body {
    .NecklaceCard {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      //text-align: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
      cursor: pointer;

      .titleNecklace:hover {
        color: $gold;
      }

      a {
        color: $white;
        &:hover {
          text-decoration: underline !important;
          color: $gold;
        }
      }
      .image {
        margin-left: 1rem;
        object-fit: cover;
        border: 1px solid $gold;
        border-radius: 2rem;
      }
    }
  }
}
