@import "src/assets/scss/abstracts/_variables";

.main {
  display: flex;
  font-family: $font-raleway;
}

.image {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text {
  position: absolute;
  width: 51.8rem;
  height: 12.5rem;
  margin-bottom: 19.8rem;
  text-align: center;
  line-height: 12.5rem;
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.8);
}

.separation {
  width: 2rem;
  background-color: #000000;
}
