@import "src/assets/scss/abstracts/_variables";

.main {
  overflow: hidden;
  //padding-bottom: 11.04rem;
  background-color: $black;

  .box {
    display: grid;
    grid-template-columns: repeat(3, calc(33.333% - 10px));
    gap: 0.5rem;
    justify-content: center;
    padding: 0 1rem;

    @include responsive("xlMb") {
      grid-template-columns: repeat(2, calc(50%));
    }
  }

  .image {
    width: 100%;
    height: 40rem;
    border: none;
    position: relative;
    cursor: pointer;

    .text {
      position: absolute;
      font-family: $font-raleway;
      font-size: 2rem;
      letter-spacing: 0.525rem;
      color: $white;
      opacity: 0;
      width: 80%;
      height: 6rem;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%) scale(1);
      transition: opacity 0.3s, transform 0.3s, filter 0.3s;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 2rem;

      @include responsive("xlMb") {
        font-size: 1.5rem;
        height: auto;
        padding: 1rem;
        opacity: 1;
        transform: translate(-50%, 50%) scale(1);
      }
    }

    &:hover .text {
      opacity: 1;
      transform: translate(-50%, 50%) scale(1.1);
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  $size: 30px;
  $spinner: white;

  .spinnerBox{
    margin: 5rem;
  }

  .spinner {
    margin: auto;
    top: calc(50% - #{$size / 2});
    left: calc(50% - #{$size / 2});
    width: $size;
    height: $size;
    animation: spinner 0.75s linear infinite;
  
    span {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    
    .spinnerInner1 {
      background: linear-gradient(to right, rgba($spinner,0) 0%,rgba($spinner,0) 50%,$spinner 51%);
    }
    
    .spinnerInner2 {
      background: linear-gradient(to top, rgba($background,0) 0%,$background 100%);
    }
    
    .spinnerInner3 {
      $offset: $size * 0.1;
      top: $offset;
      left: $offset;
      width: $size - ($offset * 2);
      height: $size - ($offset * 2);
      background: $background;
    }
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}
