.main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background-color: rgba(0, 0, 0, 0.5); Me gusta mas transparente que negro
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.closeButton{
    right: 7.16rem;
    top: 5.7rem;
    position: absolute;
    border: none;
    background-color: #000;
}

.image{
    margin-top:4.9rem;
    width: 58.5rem;
    height: 85.5rem;
    object-fit: cover;
}

