@import "src/assets/scss/abstracts/_variables";

.main {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: $font-raleway;
  overflow: hidden;

  .backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../../assets/images/Wooko.png");
    background-size: cover;
    filter: brightness(0.4);
    z-index: -1;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      margin-top: 7.3rem;
      color: $white;
      font-size: 5rem;
      font-weight: 400;
      letter-spacing: 0.525rem;
      text-align: center;

      @include responsive("sm") {
        font-size: 4.5rem;
      }

      @include responsive("xs") {
        font-size: 4rem;
      }
    }

    .contentWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;

      .iconsContainer {
        display: flex;
        justify-content: center;
        margin: 1rem 0 3rem 0;

        .icons {
          margin: 0 1.5rem;
        }
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      width: 70rem;

      @include responsive("sm") {
        width: 58rem;
      }

      @include responsive("xs") {
        width: 52rem;
      }

      @include responsive("xlMb") {
        width: 36rem;
      }
  
      @include responsive("mdMb") {
        width: 32rem;
      }

      @include responsive("smMb") {
        width: 27rem;
      }



      .input {
        height: 5.7rem;
        margin-top: 1.8rem;
        padding: 0.5rem 1rem;
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        background-color: $background-grey;
        color: $white;
        border: none;

        @include responsive("sm") {
          font-size: 2.3rem;
        }

        @include responsive("xs") {
          font-size: 2rem;
        }

        &::placeholder {
          color: $white;
        }
      }

      .comment {
        height: 18rem;
        margin-top: 1.8rem;
        padding: 1rem;
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        background-color: $background-grey;
        font-family: $font-raleway;
        color: $white;
        border: none;

        @include responsive("sm") {
          font-size: 2.3rem;
        }

        @include responsive("xs") {
          font-size: 2rem;
        }

        &::placeholder {
          color: $white;
        }
      }

      .submit {
        height: 5.7rem;
        margin-top: 1.8rem;
        background-color: $white;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border: none;

        img {
          transition: filter 0.3s ease;
        }

        &:hover img {
          filter: brightness(0) invert(1);
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          border: 1px solid rgba(0, 0, 0, 0.2);
        }
      }

      .submit:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
