@import "src/assets/scss/abstracts/_variables";

.test {
    color: $white;
    font-family:$font-raleway;
    background-color: red;

    @include responsive("mdUp") {
        color: green;
    }

    .test1 {
        color: blue;
    }
}
