@import "src/assets/scss/abstracts/_variables";

.container {
  width: 100%;
  height: 9rem;
  background-color: $black;
  font-family: $font-raleway;
  position: sticky;
  top: 0;
  z-index: 100;
  padding-top: 0.4rem;
  transition: height 0.3s ease;

  @include responsive("xl") {
    height: 7rem;
  }

  @include responsive("md") {
    height: 6rem;
  }

  @include responsive("sm") {
    height: 4.5rem;
  }

  @include responsive("xs") {
    height: 3.5rem;
  }

  @include responsive("xlMb") {
    height: 3.1rem;
  }

  .logoImage,
  .searchImage {
    width: auto;
    height: 5rem;
    transition: height 0.3s;

    @include responsive("xl") {
      height: 5rem;
    }

    @include responsive("md") {
      height: 4rem;
    }

    @include responsive("sm") {
      height: 3rem;
    }

    @include responsive("xs") {
      height: 2rem;
    }

    @include responsive("xlMb") {
      height: 1.8rem;
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 4.8rem;

    @include responsive("xl") {
      padding: 0.8rem 2rem;
    }

    @include responsive("md") {
      padding: 0.3rem 2rem;
    }

    @include responsive("sm") {
      padding: 0.2rem 1.5rem;
    }

    @include responsive("xs") {
      padding: 0.1rem 0.5rem;
    }

    @include responsive("xlMb") {
      padding: 0.1rem 0.4rem;
    }

    @include responsive("mdMb") {
      padding: 0.1rem 0.3rem;
    }

    li {
      list-style: none;
    }

    a {
      color: $white;
      text-decoration: none;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 400;
      transition: font-size 0.3s ease;

      @include responsive("xl") {
        font-size: 1.9rem;
      }

      @include responsive("md") {
        font-size: 1.6rem;
      }

      @include responsive("sm") {
        font-size: 1.3rem;
      }

      @include responsive("xs") {
        font-size: 1.1rem;
      }

      @include responsive("xlMb") {
        font-size: 1rem;
      }

      @include responsive("mdMb") {
        font-size: 0.85rem;
      }

      @include responsive("smMb") {
        font-size: 0.7rem;
      }

    }
    a:hover {
      color: red;
    }
  }
}
