@import "src/assets/scss/abstracts/_variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 9rem;
  width: 100%;
  background-color: $black;
  font-family: $font-raleway;
  position: sticky;
  top: 0;
  z-index: 100;
  padding-top: 0.4rem;
  transition: height 0.3s ease;

  @include responsive("xl") {
    min-height: 8rem;
  }

  @include responsive("md") {
    min-height: 7rem;
  }

  @include responsive("sm") {
    min-height: 6rem;
  }

  @include responsive("xs") {
    min-height: 5rem;
  }

  .logoImage,
  .searchImage {
    width: auto;
    height: 4rem;
    transition: height 0.3s;

    @include responsive("md") {
      height: 3rem;
    }

    @include responsive("sm") {
      height: 2rem;
    }

    @include responsive("xs") {
      height: 1.8rem;
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1.8rem;

    .text {
      display: flex;
      align-items: center;

      @include responsive("xlMb") {
        display: none;
      }
    }

    .logoContainer,
    .searchContainer {
      display: flex;
      align-items: center;
    }

    .searchContainer {
      @include responsive("xlMb") {
        flex: 1;
        justify-content: center;
      }
    }

    .smallLinks {
      display: flex;
      justify-content: space-between;
      a {
        color: $white;
        text-decoration: none;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        transition: font-size 0.3s ease;
        margin-right: 7rem;

        @include responsive("laptop") {
          font-size: 1.5rem;
          margin-right: 5rem;
        }

        @include responsive("md") {
          font-size: 1.3rem;
          margin-right: 4rem;
        }

        @include responsive("sm") {
          font-size: 1.1rem;
          margin-right: 2.2rem;
        }

        @include responsive("xs") {
          font-size: 0.8rem;
          margin-right: 1.7rem;
        }

        @include responsive("xlMb") {
          display: none;
        }
      }
    }

    .languageBtn {
      border: none;
      background-color: transparent;
      color: $white;
      cursor: pointer;
      font-size: 1rem;

      @include responsive("sm") {
        font-size: 0.8rem;
      }

      @include responsive("xs") {
        font-size: 0.7rem;
      }
    }

    .active {
      text-decoration: underline;
      color: $gold;
    }

    .line {
      color: $white;
      font-size: 2rem;
      margin: 0 0.5rem 0 0.5rem;
    }

    .hamburger {
      position: relative;
      display: block;
      width: 2.5rem;
      cursor: pointer;
      appearance: none;
      background: none;
      outline: none;
      border: none;
      z-index: 99;

      @include responsive("xlMbMin") {
        display: none;
      }

      .bar,
      &:after,
      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 0.1rem;
        background-color: $white;
        margin: 0.5rem 0rem;
        transition: 0.4s;
      }

      &.isActive:before {
        transform: rotate(-45deg) translate(-4px, 3px);
      }

      &.isActive:after {
        transform: rotate(45deg) translate(-5px, -5px);
      }

      &.isActive .bar {
        opacity: 0;
      }
    }

    .navLanguageBtn {
      display: flex;
      justify-content: center;
    }

    .mobileNav {
      position: fixed;
      top: 0;
      left: 100%;
      width: 100%;
      min-height: 100vh;
      display: block;
      background-color: $background-black;
      padding-top: 10rem;
      transition: 0.4s;
      z-index: 98;

      @include responsive("xlMbMin") {
        display: none;
      }
    }

    .mobileNav.isActive {
      left: 0;
    }

    .mobileNav a {
      display: block;
      width: 100%;
      margin: 0 auto 1.6rem;
      text-align: center;
      padding: 1.2rem 1.6rem;
      font-size: 2.9rem;
      color: $white;
      text-decoration: none;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 400;
      transition: font-size 0.3s ease;

      @include responsive("smMb") {
        font-size: 2rem;
        padding: 1rem 1.3rem;
      }
    }

    .mobileNav a:hover {
      color: $background;
    }
  }
}
