@import "src/assets/scss/abstracts/_variables";

.main {
  overflow: hidden;
  padding-bottom: 2rem;
  background-color: $black;

  .box {
    display: grid;
    grid-template-columns: repeat(3, calc(33.333% - 10px));
    gap: 0.5rem;
    justify-content: center;
    padding: 0 10px;

    @include responsive("xlMb") {
      grid-template-columns: repeat(2, calc(53.333% - 10px));
    }
  }

  .modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modalContent {
    max-width: 90vw;
    max-height: 90vh;

    @include responsive("sm") {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .navButton {
      background-color: transparent;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      transition: opacity 0.3s;

      @include responsive("xlMb") {
        top: 85%;
      }
    }

    .navButton:hover {
      opacity: 0.5;
    }

    .nextButton {
      right: 6.5rem;

      @include responsive("sm") {
        right: 2rem;
      }

      @include responsive("xlMb") {
        right: 0rem;
      }

      @include responsive("smMb") {
        right: -1rem;
      }
    }

    .previousButton {
      left: 6.5rem;
      transform: scaleX(-1) translateY(-50%);

      @include responsive("sm") {
        left: 2rem;
      }

      @include responsive("xlMb") {
        left: 0rem;
      }

      @include responsive("smMb") {
        left: -1rem;
      }
    }

    img {

      @include responsive("md") {
        max-width: 80vw;
        max-height: 70vh;
      }

      @include responsive("sm") {
        max-width: 60vw;
        max-height: 50vh;
      }

      @include responsive("xlMb") {
        max-width: 80vw;
        max-height: 50vh;
      }

      @include responsive("mdMb") {
        max-width: 80vw;
        max-height: 45vh;
      }

      @include responsive("smMb") {
        max-width: 80vw;
        max-height: 40vh;
      }
    }
  }

  .image {
    width: 100%;
    height: 40rem;
    border: none;
    position: relative;
    cursor: pointer;

    @include responsive("xlMb") {
      height: 20rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
