@import "src/assets/scss/abstracts/_variables";

.main {
  position: relative;
  min-height: 100vh;
  font-family: $font-raleway;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include responsive("xlMb") {
    align-items: center;
  }
}

.backgroundImage {
  transform: scaleX(-1);
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/exhibitionsMain.jpg");
  background-size: cover;

  @include responsive("md") {
    background-position: center center;
  }
}

.title {
  position: relative;
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  letter-spacing: 0.525rem;
  color: $white;

  @include responsive("md") {
    font-size: 4rem;
  }

  @include responsive("xlMb") {
    font-size: 3.8rem;
  }

  @include responsive("mdMb") {
    font-size: 3.6rem;
  }

  @include responsive("smMb") {
    font-size: 3.4rem;
  }
}

.box {
  display: flex;
  flex-direction: column;

  @include responsive("xlMb") {
    flex-direction: row;
    align-items: center;
  }
}

.row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.96rem;

  @include responsive("xlMb") {
    flex-direction: column;
    justify-content: center;
  }
}

.row2 {
  display: flex;
  justify-content: center;
  margin-bottom: 1.96rem;

  @include responsive("xlMb") {
    flex-direction: column;
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 3.8rem;
  position: relative;
  width: 25.041rem;
  height: 25.041rem;
  border-radius: 50%;
  margin-right: 7.96rem;
  background-color: $background-fill;
  transition: transform 0.3s ease, background-color 0.3s ease;

  &:hover {
    transform: scale(1.1);
    background-color: $circle-hover-grey;
  }

  @include responsive("md") {
    width: 18rem;
    height: 18rem;
    margin-right: 6rem;
  }

  @include responsive("sm") {
    width: 15rem;
    height: 15rem;
    margin-right: 4rem;
  }

  @include responsive("xs") {
    width: 12rem;
    height: 12rem;
    margin-right: 3rem;
  }

  @include responsive("xlMb") {
    margin-top: 2.04rem;
  }

  @include responsive("mdMb") {
    width: 11rem;
    height: 11rem;
  }

  @include responsive("smMb") {
    width: 10rem;
    height: 10rem;
  }
}

.text {
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: -0.077rem;
  color: $background-black;

  @include responsive("md") {
    font-size: 2.8rem;
  }

  @include responsive("sm") {
    font-size: 2rem;
  }

  @include responsive("xlMb") {
    font-size: 1.9rem;
  }

  @include responsive("mdMb") {
    font-size: 1.8rem;
  }

  @include responsive("smMb") {
    font-size: 1.6rem;
  }
}
