@import "src/assets/scss/abstracts/_variables";

.container {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 9rem;
  background-color: $black;
  font-family: $font-raleway;
  bottom: 0;
  left: 0;
  z-index: 2;

  @include responsive("xl") {
    min-height: 8rem;
  }

  @include responsive("md") {
    min-height: 7rem;
  }

  @include responsive("sm") {
    min-height: 6rem;
  }

  @include responsive("xs") {
    min-height: 5rem;
  }

  @include responsive("xlMb") {
    min-height: 7rem;
  }

  .font {
    color: $white;
    text-decoration: none;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    margin: 0.3rem 0 0.5rem 0;
    letter-spacing: 0.31rem;

    @include responsive("md") {
      font-size: 2.2rem;
    }

    @include responsive("sm") {
      font-size: 2rem;
    }

    @include responsive("xs") {
      font-size: 1.8rem;
    }

    @include responsive("xlMb") {
      font-size: 1.6rem;
    }
  }

  .spacing {
    margin-right: 4.89rem;
  }

  .imgContainer {
    width: 4.4rem;
    height: 4.5rem;
    margin-bottom: 0.5rem;

    @include responsive("md") {
      width: 4.2rem;
      height: 4.3rem;
    }

    @include responsive("sm") {
      width: 4rem;
      height: 4.1rem;
    }

    @include responsive("sm") {
      width: 3.6rem;
      height: 3.7rem;
    }

    @include responsive("xlMb") {
      width: 3rem;
      height: 3.1rem;
    }
  }
}
