
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: $font-raleway;
  color: #fff;
  background-color: #2e2d2d;
  //overflow: auto;
  //position: absolute;

  @include responsive("xlMb") {

  }

  @include responsive("mdMb") {
  }

  @include responsive("smMb") {
  }
}

.closeButton {
  width: 4.3rem;
  height: 4.3rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 3.5rem;

  position: absolute;

  @include responsive("xlMb") {
    width: 2.5rem;
    height: 2.5rem;
  }

  @include responsive("xlMb") {
    width: 2.2rem;
    height: 2.2rem;
  }
}

.closeButton::before,
.closeButton::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $white;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.closeButton::before {
  transform: rotate(45deg);
}

.closeButton::after {
  transform: rotate(-45deg);
}

.hiddenButton {
  visibility: hidden;
  pointer-events: none;

  @include responsive("xlMb") {
    width: 3rem;
    height: 3rem;

  }
}

.arrow {
  width: 5.4rem;
  height: 5.4rem;
  border: none;
  background-color: #2e2d2d;

  @include responsive("md") {
    width: 5rem;
    height: 5rem;
  }

  @include responsive("sm") {
    width: 4rem;
    height: 4em;
  }

  @include responsive("xs") {
    width: 3rem;
    height: 3em;
  }

  @include responsive("xlMb") {
    width: 3rem;
    height: 3rem;
  }
}
.arrow img {
  height: 100%;
  width: 100%;
  object-fit: cover;


}

.backArrow {
  @extend .arrow;
  transform: scaleX(-1);

  @include responsive("xlMb") {
  }
}

.imageBlock {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  @include responsive("xlMb") {
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }
}

.hiddenName {
  display: none;
  @include responsive("xlMb") {
    display: block;
    font-size: 4rem;
    margin-top: 2.6rem;
  }

  @include responsive("mdMb") {
    font-size: 3rem;
    margin-top: 5rem;
  }

  @include responsive("smMb") {
    font-size: 2.5rem;
    margin-top: -6rem;
  }
}

.image {
  max-width: 100%;
  max-height: 100%;
  border: none;
  position: relative;
  transition: transform 0.3s ease;
  filter: grayscale(0);

  &:hover {
    transform: scale(1.1);
    filter: grayscale(50%);
  }

  @include responsive("laptop") {
    max-width: 35rem;
    height: 60rem;
  }

  @include responsive("md") {
    max-width: 32rem;
    max-height: 52rem;
  }

  @include responsive("sm") {
    max-width: 32rem;
    height: 46rem;
  }

  @include responsive("xs") {
    max-width: 31rem;
    height: 35rem;
  }

  @include responsive("xlMb") {
    //max-width: 24.6rem;
    //height: 35.1rem;

    &:hover {
      transform: none;
      filter: grayscale(0);
    }
  }

  @include responsive("mdMb") {
    max-width: 22.6rem;
    height: 32.1rem;
  }

  @include responsive("xsMb") {
    max-width: 24.6rem;
    height: 35.1rem;
  }
}

.image img {
  height: 100%;
  width: 100%;
  //object-fit: cover;
}

.descriptionBox {
  width: 39.7rem;
  @include responsive("xlMb") {
    width: 36.7rem;
  }
}

.name {
  font-size: 5rem;
  letter-spacing: 0.525rem;
  margin-bottom: 4.6rem;

  @include responsive("md") {
    font-size: 4.5rem;
  }

  @include responsive("sm") {
    font-size: 4rem;
  }

  @include responsive("xs") {
    font-size: 3.8rem;
  }

  @include responsive("xlMb") {
    display: none;
  }
}

.description {
  font-size: 2.2rem;
  letter-spacing: -0.033rem;

  @include responsive("laptop") {
    font-size: 2rem;
  }

  @include responsive("md") {
    font-size: 1.8rem;
  }

  @include responsive("sm") {
    font-size: 1.5rem;
  }

  @include responsive("xs") {
    font-size: 1.2rem;
  }

  @include responsive("xlMb") {
    margin-bottom: 2rem;
    font-size: 2rem;
    padding: 2rem;
  }

  @include responsive("mdMb") {
    font-size: 1.7rem;
    padding: 2rem;
  }

  @include responsive("smMb") {
    font-size: 1.2rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
